<h2>Login:</h2><br><br>

<%= form_for @user, url: login_path, method: 'post' do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Login"%>
<% end %>

<h2>New User:</h2>
<%= form_for @user do |f| %>
<%= f.label :username %>
<%= f.text_field :username %><br>
<%= f.label :password %>
<%= f.password_field :password %><br>
<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation %><br>
<%= f.label :age %>
<%= f.number_field :age %><br>
<%= f.label :email %>
<%= f.email_field :email %><br>
<%= f.submit %>
<% end %>
