<%= form_with url: '/search', method: :get, local: true do |f|%>
<%= f.label :q, "Filter by location:"%>
<%= f.collection_select :location_id, Location.all, :id, :name, include_blank: true%>
<%= f.submit "Filter"%>
<% end %><br>

<%= form_with url: '/search', method: :get, local: true do |f|%>
<%= f.label :q, "Filter by Category:"%>
<%= f.select :category, options_for_select([["Select Event Category", ""], "Birthday", "Concert", "Dance Party", "Game Night", "Movie Night"]) %>
<%= f.submit "Filter"%>
<% end %><br>

<div class="ui three column grid">
<% @events.each do |event| %>

  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <% if event.category == "Birthday" %>
          <img src="Birthday.png">
        <% elsif event.category == "Concert" %>
          <img src="Concert.png">
        <% elsif event.category == "Dance Party" %>
          <img src="Dance.png">
        <% elsif event.category == "Game Night" %>
          <img src="Game.png">
        <% elsif event.category == "Movie Night" %>
          <img src="Movie.png">
        <% end %>
      </div>
      <div class="content">
        <div class="header">Name of Event: <%= link_to event.title, event_path(event) %></div>
        <div class="meta">
          <a>Category: <%= event.category %></a><br>
          <a>Location: <%= event.location.name%></a><br>
          <a>Date: <%= event.date.strftime("%A, %B %d")%></a>
        </div>
        <div class="description">
          Description: <%= event.description%>
        </div>
      </div>
        <span>
          <i class="user icon"></i>
          Hosted by: <%= event.user.username %>
        </span>
      </div>
    </div>
<% end %>
</div>
</div>
