<div class="ui raised segment">
  <p>
  <div class="ui list">
    <div class="item">
      <i class="star icon"></i>
      <div class="content">
        Name of Event: <%= @event.title %><br>
      </div>
    </div>

    <div class="item">
      <i class="book icon"></i>
      <div class="content">
        Category: <%= @event.category %><br>
      </div>
    </div>
    <div class="item">
      <i class="time icon"></i>
      <div class="content">
        Date: <%= @event.date.strftime("%A, %B %d")%><br>
      </div>
    </div>

    <div class="item">
      <i class="pencil icon"></i>
      <div class="content">
        Description: <%= @event.description%><br>
      </div>
    </div>
    <div class="item">
      <i class="pin icon"></i>
      <div class="content">
        Location: <%= link_to @event.location.name, location_path(@event.location)%><br>
      </div>
    </div>

    <div class="item">
      <i class="user icon"></i>
      <div class="content">
        Hosted by: <%= @event.user.username %><br>
      </div>
    </div>
  </div>
</p>
</div>

<div class="ui grid">
  <div class="left floated five wide column">
    <div class="ui styled accordion">
      <div class="active title">
        <i class="dropdown icon"></i>
          Guests Attending:
      </div>
      <div class="title">
        <% @rsvps.each do |rsvp| %>
        <div class="content">
          <i class="users icon"></i>
          <%= link_to rsvp.user.username, user_path(rsvp.user) %>
        </div>
          <%end%>
      </div>
    </div>
      <%= rsvp_field(@event, @user, @rsvp)%>
  </div>

  <div class="four wide column">
    Leave a Comment!<br><br>
    <%= flash[:error]%><br>
    <%= form_for [@event, @comment] do |f| %>
      <%= f.text_area :content%><br>
      <%= f.hidden_field :event_id, value: @event.id%>
      <%= f.hidden_field :user_id, value: @user.id%>
      <%= f.submit "Add Comment"%>
      <% end %>

      Comments:<br><br>
      <%= flash[:error]%><br><br>
      <%= "Be the first to comment!" if @event.comments.empty?%>
      <% @event.comments.each do |comment| %>
      <%= link_to comment.user.username, user_path(comment.user)  %>: <%= comment.content %>
      <%= link_to "delete", event_comment_path(@event, comment), method: :delete if comment.user == @user %>
    <br>
    <% end %>
    <%= button_to "delete event", event_path(@event), method: :delete if @event.user == @user%>

  </div>

  <div class="four wide column">
      <img class="ui medium circular image" <%= image_tag google_map(@center, @event.lat, @event.long) %>
  </div>

</div>

