<div class="ui list">
  <div class="item">
    <i class="users icon"></i>
    <div class="content">
      Name of Event: <%= @event.title %><br>
    </div>
  </div>
  <div class="item">
    <i class="marker icon"></i>
    <div class="content">
      Category: <%= @event.category %><br>
    </div>
  </div>
  <div class="item">
    <i class="mail icon"></i>
    <div class="content">
      Date: <%= @event.date.strftime("%A, %B %d")%><br>
    </div>
  </div>
  <div class="item">
    <i class="linkify icon"></i>
    <div class="content">
      Description: <%= @event.description%><br>
    </div>
  </div>
  <div class="item">
    <i class="linkify icon"></i>
    <div class="content">
      Location: <%= link_to @event.location.name, location_path(@event.location)%><br>
    </div>
  </div>
  <div class="item">
    <i class="linkify icon"></i>
    <div class="content">
      Hosted by: <%= @event.user.username %><br>
    </div>
  </div>
  <div class="item">
    <i class="linkify icon"></i>
    <div class="content">
      Guests Attending:
      <% @rsvps.each do |rsvp| %>
      <div class="ui horizontal list">
        <div class="item">
          <i class="users icon"></i>
          <div class="content">
            <%= link_to rsvp.user.username, user_path(rsvp.user) %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>


<%= rsvp_field(@event, @user, @rsvp)%><br><br>
<img class="ui medium circular image" <%= image_tag google_map(@center, @event.lat, @event.long) %>


<br><br>
Leave a Comment!<br><br>
<%= flash[:error]%><br>
<%= form_for [@event, @comment] do |f| %>
  <%= f.text_area :content%><br>
  <%= f.hidden_field :event_id, value: @event.id%>
  <%= f.hidden_field :user_id, value: @user.id%>
  <%= f.submit "Add Comment"%>
<% end %>
<br>

Comments:<br><br>
<!-- <%= flash[:error]%><br><br> -->
<%= "Be the first to comment!" if @event.comments.empty?%>
<% @event.comments.each do |comment| %>
  <%= link_to comment.user.username, user_path(comment.user)  %>: <%= comment.content %>
  - <%= link_to "delete", event_comment_path(@event, comment), method: :delete if comment.user == @user %>
  <br>
<% end %>
