<!DOCTYPE html>
<html>
  <head>
    <title>PartyWithFlatiron</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= link_to "Home", home_path if !request.fullpath.include?("timer")%>
    <%= link_to "All Events", events_path if !request.fullpath.include?("timer")%>
    <%= link_to "All Locations", locations_path if !request.fullpath.include?("timer")%>
    <%= profile_link if !request.fullpath.include?("timer")%>
    <%= logout_link if !request.fullpath.include?("timer")%>


    <br><br>
    <%= yield %>
<br><br>

  </body>
</html>
