<!DOCTYPE html>
<html>
  <head>
    <title>PartyWithFlatiron</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>Semantic UI CDN</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
      
  </head>

  <body>

  <% if current_user %>

    <button class="ui labeled icon button">
      <i class="home icon"></i>
      <%= link_to "Home", home_path if !request.fullpath.include?("timer")%>
    </button>

    <button class="ui labeled icon button">
      <i class="calendar icon"></i>
      <%= link_to "All Events", events_path if !request.fullpath.include?("timer")%>
    </button>

    <button class="ui labeled icon button">
      <i class="globe icon"></i>
      <%= link_to "All Locations", locations_path if !request.fullpath.include?("timer")%>
    </button>

      <button class="ui labeled icon button">
        <i class="user icon"></i>
        <%= profile_link if !request.fullpath.include?("timer")%>
      </button>

      <button class="ui labeled icon button">
        <i class="times circle outline icon"></i>
        <%= logout_link if !request.fullpath.include?("timer")%>
      </button>

  <% end %>

    <br><br>
    <%= yield %>
    <br><br>

  </body>
</html>
