<!DOCTYPE html>
<html>
  <head>
    <title>PartyWithFlatiron</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Home", home_path%>
    <%= link_to "All Events", events_path%>
    <%= link_to "My Profile", user_path(User.find(session[:user_id])) if session[:user_id]%>
    <% if session[:user_id] %>
    <%= link_to "Logout", logout_path, method: "post" %>
    <% end %>

    <br><br>
    <%= yield %>
<br><br>


  </body>
</html>
