<!DOCTYPE html>
<html>
  <head>
    <title>PartyWithFlatiron</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= link_to "Home", home_path%>
    <%= link_to "All Events", events_path%>
    <%= link_to "All Locations", locations_path%>
    <%= profile_link %>
    <%= logout_link %>


    <br><br>
    <%= yield %>
<br><br>

  </body>
</html>
